@model ECommerceApp.Core.Models.Category

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="ibox product-detail">

            <div class="ibox-content">

                <div class="row">

                    <div class="col-lg-12">

                        <h2 class="font-bold m-b-xs">
                            @Html.DisplayFor(model => model.CategoryName)
                        </h2>

                        <hr>

                        <h4>@Html.DisplayNameFor(model => model.Description)</h4>

                        <div class="small text-muted">
                            @Html.DisplayFor(model => model.Description)
                        </div>

                        <hr>

                        <div class="text-right">
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-outline btn-info edit-btn" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline btn-warning" })
